<!DOCTYPE html lang="en">
  <head>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angularjs/angular.js"></script>
    <script type="text/javascript" src="../bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script type="text/javascript" src="../angular-twitter-typeahead.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="demo-twitter-typeahead">
    <section ng-controller="DemoCtrl">

      <h1>
        Basic Typeahead All Defaults
      </h1>
      <twitter-typeahead ng-model="defaultSelected" basic-list="defaultSearchList"></twitter-typeahead>

      <h1>
        Basic Typeahead with Default Bloodhound
      </h1>
      <twitter-typeahead ng-model="defaultSelected2" basic-list="defaultSearchList2" auto-bloodhound="true"></twitter-typeahead>

      <h1>
        Basic Typeahead with Default Bloodhound and Various Options set
      </h1>
      <twitter-typeahead ng-model="defaultBloodhoundSelected" basic-list="defaultBloodhoundSearchList" auto-bloodhound="true" local-options="basicOptions" label="basicLabel" tt-options="ttBasicOptions"></twitter-typeahead>

    </section>
  </body>
</html>